<!DOCTYPE html>
<html lang="it">
<head>
    <title>Assistente alla scrittura</title>
</head>
<body>
    <div style="display: flex; justify-content: space-around">
        <h1>Pagina personale di {{ user_info.name }}</h1>
    </div>
    <hr>

    {# Area principale #}
    <div style="display: flex; justify-content: space-around">
        Per ora non c'è nulla qui
    </div>


    <hr>
    {# Area secondaria #}

    
</body>
</html>