<!DOCTYPE html>
<html lang="it">
<head>
    <title>Assistente alla scrittura</title>
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
    <h1>Pagina personale di {{ user_info.name }}</h1>
    <br>

    {# Area principale #}
    <p>Per ora non c'è nulla qui</p>

    <br>
    {# Area secondaria #}

    
</body>
</html>