<!DOCTYPE html>
<html lang="it">
<head>
    <title>Assistente alla scrittura</title>
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
    <h1>Creazione Account</h1>
    <br>

    {# Area principale di input #}
    <form id="loginForm" action="/signup" method="post">
        <input name="username" type="text" placeholder ="Username" id=""/>
        <input name="password" type="password" placeholder ="Password" id=""/>
        <input type="submit" value="Crea Account"/>
    </form>

    <br>
    {# Area secondaria #}
    
</body>
</html>